body{
    background-image: url("https://cdn.pixabay.com/photo/2016/12/29/18/44/background-1939128_1280.jpg");
    border : 3px solid green;
    height :100%;
    padding: 30px;
}
.container{
    display:flex;
    flex-wrap: wrap;
    justify-content:space-between;
    box-sizing : border-box;
    width:100%;
   padding:20px;
}

.top1{
    border: 2px solid rgb(187, 42, 42);
    height: 200px;
    width: 400px;  
    text-align: center;
    font-family: serif;
    font-size: 30px;
    border-radius: 20px;
    background-color: black;
    color: rgb(249, 240, 207);
}

.head1{
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 40px;
}

.head2{
    padding: 30px;
    font-size: 43px;
}

.head3{
    padding: 30px;
    font-size: 30px;
}

.form1{
    border: 3px dashed red;
    width:500px;
    margin-left: 270px;
    text-align: center;
    padding: 15px;
    font-family: serif;
    font-size: 20px; 
    background-color: black;
    color: rgb(247, 247, 245);
}

#form_head{
    font-family: serif;
    font-size: 30px;
}

#circle{
    background-color: black;
    color: rgb(199, 199, 198);
    margin-left: 120px;
    padding-top:75px ;
    padding-left: 5px;
    padding-right: 5px;
    text-align: center;
    border: 2px solid grey;
    height:350px;
    width:350px;
    font-family: serif;
    font-size: 20px;
    border-radius: 100%;
}

.form_center{
    text-align: center;
    width:250px;
}
#submit{
    padding:10px;
    width:200px;
}
#reset{
    padding:10px;
}

.container2{
    background-color: black;
    color: rgb(199, 199, 198);
    padding-top: 30px;
    text-align: center;
    border: 1px solid red;
    width:40%;
    border-radius: 20px;
    padding-bottom: 40px;
    font-family: serif;
}

.container3{
    display:flex;
    flex-wrap: wrap;
    justify-content:space-between;
    box-sizing : border-box;
    row-gap: 50px;
    width:100%;
}
.c1{
    background-color: black;
    color: rgb(199, 199, 198);
    border: 2px solid rgb(187, 42, 42);
    height: 315px;
    width: 400px;
    padding:15px;
    text-align: center;
    font-family: serif;
    border-radius: 20px;
}

.c_head{
    font-size: 25px;
    font-weight: bold;
    color:rgb(242, 242, 238)
}

.list_content{
    font-size: 20px;
    font-family: serif;
}

hr.hr_style{
    border: 0;
    height: 2px;
    background-image: linear-gradient(to right, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.75),rgba(255, 255, 255, 0));
}
